body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Default background color */
    background-image: url("Images/backgroundImage.jpg");
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.weather-info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Custom styles based on weather conditions */
.weather-sunny {
    background-color: #ffcc00; /* Sunny background color */
    color: #fff;
}

.weather-rainy {
    background-color: #007bff; /* Rainy background color */
    color: #fff;
}

.weather-winter {
    background-color: #66ccff; /* Winter background color */
    color: #fff;
}
